{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
    <!-- Living Dangerously!! Security Flaws beyond measure :'( -->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="content-type" content="text/html;charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="icon" href="{% static 'chatbot/images/favicon.ico' %}">
        <link rel="stylesheet" href="{% static 'chatbot/bootstrap/css/bootstrap.min.css' %}">
        {% block stylesheet %}{% endblock %}
        <link href="{% static 'chatbot/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
        <script src="{% static 'chatbot/js/jquery.min.js' %}"></script>
        <script src="{% static 'chatbot/bootstrap/js/bootstrap.min.js' %}"></script>
        <title>{% block title %}{% endblock %}</title>

    </head>
    <body>
        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="{% url 'metsys:home' %}">Metsys</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                  {% block navigation %}{% endblock %}
              </ul>
              <ul class="nav navbar-nav navbar-right">
                  {% block logout %}{% endblock %}
              </ul>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>
        {% block content %}{% endblock %}
    </body>
    <script type="text/javascript">
        {% block script %}{% endblock %}
    </script>
</html>
