{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
    <!-- Living Dangerously!! Security Flaws beyond measure :'( -->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="content-type" content="text/html;charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="icon" href="{% static 'chatbot/images/favicon.ico' %}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'chatbot/css/chat.css' %}">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
        <base target="_blank"/>
        <title>Metsys Bot</title>

    </head>
    <body>
        <!-- Wrap all page content here -->
        <nav class="navbar navbar-default navbar-fixed-top" id="top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" id="top-brand" href="#">Metsys Chatbot</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a data-toggle="modal" data-target="#feedbackModal" id="nav-contact"  id="nav-feedback" href="#">Feedback</a></li>
                        <!-- Trigger the help modal with a button -->
                        <li><a data-toggle="modal" data-target="#helpModal" id="nav-contact" href="#"><i class="fa fa-question-circle-o" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </div>
        </nav>

        <div id="wrap" class="BotMainDiv">
            <!-- Begin page content -->
            <div class="container-fluid" id="body-container">
                <div id="sub-body-container">
                    <div id="messages-container"></div>
                    <div class="error-notification alert alert-info" style="display:none;"></div>
                </div>
            </div>

            <div class="navbar navbar-default navbar-fixed-bottom non-error" id="bottom-bar">
                <div class="container botAccentColor" id="bottom-box">
                    <div class="row" id="send-box">
                        <div id="messageToSend" contenteditable="true" class="col-xs-10 col-sm-11 col-md-11 col-lg-11" data-ph="Type your message..."></div>
                        <div class="col-xs-2 col-sm-1 col-md-1 col-lg-1 text-right">
                            <button  id="messageSendButton" type="button" onclick="sendTextMessage()">
                                <i class="fa fa-paper-plane" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div> <!-- row -->
                </div> <!-- bottom-box -->
            </div> <!-- navbar-fixed-bottom -->
        </div> <!-- wrap -->

        <!-- Feedback Modal -->
        <div class="modal fade" id="feedbackModal" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" id="feedbackClose">&times;</button>
                        <h3 class="modal-title">Feedback</h3>
                    </div>
                    <div class="modal-body" id="feedbackModalForm">
                        <form>
                            <div class="form-group">
                                <label for="userName">Name</label>
                                <input type="text" class="form-control" placeholder="Name" id="userName">
                            </div>
                            <div class="form-group">
                                <label for="comments">Comments</label>
                                <textarea class="form-control" rows="3" placeholder="Comments..." id="comments"></textarea>
                            </div>
                            <button type="button" class="pull-right btn btn-primary" id="feedbackSubmit" onclick="sendFeedback()">Send Feedback</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
                <!-- Modal Content -->
            </div>
            <!-- modal-dialog -->
        </div>
        <!-- Feedback Modal -->

        <!-- Help Modal -->
        <div class="modal fade" id="helpModal" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h3 class="modal-title">Welcome to Metsys Public Alpha Testing <i class="fa fa-smile-o" aria-hidden="true"></i></h3>
                    </div>
                    <div class="modal-body">
                        <h4>About</h4>
                        <p>Metsys chatbot is a specialized chatbot that can
                            only answer queries about an electronic goods
                            store service Chowdhury Electronics. It
                            <strong>cannot</strong> answer general queries.</p>

                        <h4>Usage</h4>
                        <p>Send a message to chatbot about necessary
                            questions you may have, if you were having a
                            conversation with a customer service agent. The
                            bot will answer back. If the answer is <strong>not satisfactory</strong>, then click the <i class="fa fa-times-circle-o" aria-hidden="true"></i> icon
                            to report an incorrect response.<br>

                        That's it. Have Fun!</p>

                        <h4>Feedback</h4>
                        <p>You can submit messages about the quality of
                            chabot or any other queries you may have by
                            using the <strong>Feedback</strong> option.
                            You can provide your name or remain anonymous.</p>
                    </div>
                    <div class="modal-footer">
                        <label class="pull-left" for="neverHelp"><input type="checkbox" name="neverHelp"> Don't show this again</label>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
                <!-- Modal Content -->
            </div>
            <!-- modal-dialog -->
        </div>
        <!-- Help Modal -->

        <!-- Confirm Complaint Modal -->
        <div id="confirm" class="modal fade"  role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3>Confirmation!</h3>
                    </div>
                    <div class="modal-body">
                        Are you sure that is an incorrect response from the chatbot?
                    </div>
                    <div class="modal-footer">
                        <button type="button" data-dismiss="modal" class="btn btn-danger" id="yes">Yes</button>
                        <button type="button" data-dismiss="modal" class="btn btn-primary">No</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Confirm Complaint Modal -->

        <script type="text/javascript">
            // Standard javascript code for csrf cookies
            function getCookie(name) {
                var cookieValue = null;
                if (document.cookie && document.cookie != '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = jQuery.trim(cookies[i]);
                        // Does this cookie string begin with the name we want?
                        if (cookie.substring(0, name.length + 1) == (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }
            var csrftoken = getCookie('csrftoken');
                // });

            function csrfSafeMethod(method) {
                // these HTTP methods do not require CSRF protection
                return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
            }
            function sameOrigin(url) {
                // test that a given url is a same-origin URL
                // url could be relative or scheme relative or absolute
                var host = document.location.host; // host + port
                var protocol = document.location.protocol;
                var sr_origin = '//' + host;
                var origin = protocol + sr_origin;
                // Allow absolute or scheme relative URLs to same origin
                return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
                    (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
                    // or any other URL that isn't scheme relative or absolute i.e relative.
                    !(/^(\/\/|http:|https:).*/.test(url));
            }
            $.ajaxSetup({
                beforeSend: function(xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && sameOrigin(settings.url)) {
                        // Send the token to same-origin, relative URLs only.
                        // Send the token only if the method warrants CSRF protection
                        // Using the CSRFToken value acquired earlier
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
            }
        });

        </script>

        <script src="{% static 'chatbot/js/reconnecting-websocket.min.js' %}" type="text/javascript" charset="utf-8"></script>
        <script src="{% static 'chatbot/js/internal-chatbox.js' %}" type="text/javascript" charset="utf-8"></script>

        <script type="text/javascript">
            var user;
            $("#messageToSend").focusin(function() {
                $("#send-box").animate({"border-radius": "1px"});
            });

            $("#messageToSend").focusout(function() {
                $("#send-box").animate({"border-radius": "20px"});
            });

            // START WEBSOCKETS
            var supportsWebSockets = ('WebSocket' in window || 'MozWebSocket' in window) && WebSocket;
            if(!supportsWebSockets){
                $(".very-old-browser-notification").show();
                $(".non-error").hide();
            }else{
                $(".very-old-browser-notification").hide();
                $(".non-error").show();
            }
            var ws_scheme = window.location.protocol == "https:" ? "wss" : "ws";

            // Calls the websocket connect channel
            var chatsock = new ReconnectingWebSocket(ws_scheme + '://' + window.location.host + "/chat/stream/test-chat");


            $("#messageToSend").keypress(function (e) {
                var key = e.which;
                if (key == 13)  // trigger message send when 'enter' key is clicked
                {
                    $('#messageSendButton').trigger('click');
                    return false;
                }
            });

            // Code that is called when the socket is succesfully opened
            chatsock.onopen = function(message) {
                $('.error-notification').hide();
                $('.non-error').show();
                $('#messages-container').html('<div  class="empty-div"></div>');

                message = {}
                message.command= 'start'
                chatsock.send(JSON.stringify(message)); // START TALKING!
            }

            chatsock.onmessage = function(message){
                var content_data = JSON.parse(message.data);

                if (content_data['type'] == 'text') {
                    processAndDisplayChatMessage(message);
                }
                else if (content_data['type'] == 'complaintSaveStatus') {
                    console.log(content_data['text'])
                }
            };

            chatsock.onclose = function(message){
                message = {}
                message.command= 'leave';
                message.userid = user;

                chatsock.send(JSON.stringify(message));
                console.log("connection lost ... ");
            }

            chatsock.onerror = function(message){
                console.log("Error reconnecting ... ");
                $('.error-notification').html("Unable to connect to the metsys server. Please try again in a few minutes (by refreshing the page).")
                $('.error-notification').show();
                $('.non-error').hide();
                $("#body-container").scrollTop( $('#body-container')[0].scrollHeight);
                $("#feedbackClose").trigger('click');
            }

            // Don't show this again functionality for #helpModal
            $('#helpModal').on('hidden.bs.modal', function() {
                var status = $("input[name=neverHelp]", this).is(":checked");

                // Omitted domain for local development use
                // If ever used in production, use domain specific cookie
                Cookies.set('help_dismiss', status, {
                    expires: 7,
                    path: ''
                });
            });

            $('#helpModal').on('show.bs.modal', function() {
                var status = Cookies.get('help_dismiss');

                // Omitted domain for local development use
                // If ever used in production, use domain specific cookie
                if (status == 'true') {
                    $("input[name=neverHelp]", this).attr("checked", "checked");
                }
            });


            $(document).ready(function() {
                $("#body-container").scrollTop( $('#body-container')[0].scrollHeight);

                if(Cookies.get('help_dismiss') != 'true') {
                    $('#helpModal').modal('show');
                }
            });
        </script>

</body>
</html>
