{% extends 'chatbot/base.html' %}
{% load staticfiles %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'chatbot/css/moderator.css' %}">
{% endblock %}

{% block title %}Complaints{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<div class="container">
    <h1>Complaint Detail View</h1>
    {% if complaint %}
        <ul>
            <li>User Question: {{ complaint.requestMessage }}</li>
            <li>Bot Answer: {{ complaint.responseMessage }}</li>
            <li>Created At: {{ complaint.created }}</li>
            <li><a href="{% url 'chatbot:complainWithdraw' complaint.id %}">Delete Complaint</a></li>
        </ul>
        <div class="text-center" style="border:2px solid black;">
            <form class="" action="" method="post">
                {% csrf_token %}
                {% if eForm %}
                    {{ eForm.as_p }}
                    <input type="submit" name="SubmitTag" value="Resolve">
                {% elif bForm %}
                    {{ bForm.as_p }}
                    <input type="submit" name="SubmitTag" value="Resolve">
                {% endif %}
            </form>
            <div style="height:50px;" class="text-center"><h3>Or</h3></div>
            <form class="" action="" method="post">
                {% csrf_token %}
                {% if newForm %}
                    {{ newForm.as_p }}
                    <input type="submit" name="SubmitBundle" value="Resolve">
                {% endif %}
            </form>
        </div>
    {% else %}
        <h3>Fake Complaint</h3>
    {% endif %}
    <div style="height:20px;"></div>
    <a href="{% url 'chatbot:modHome' %}">Home</a><br>
    <a href="{% url 'chatbot:modLogout' %}">Logout</a>
</div>
{% else %}
<h1>You are not Authenticated</h1>
{% endif %}
{% endblock %}
