{% extends 'chatbot/base.html' %}
{% load staticfiles %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'chatbot/css/moderator.css' %}">
{% endblock %}

{% block title %}Complaints{% endblock %}

{% block navigation %}
<li><a href="{% url 'chatbot:modHome' %}">Home</a></li>
<li class="active"><a href="{% url 'chatbot:modComplaints' %}">Complaints</a></li>
{% endblock %}

{% block logout %}
    {% if user.is_authenticated %}
        <li><a href="{% url 'chatbot:modLogout' %}">Logout</a></li>
    {% endif %}
{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<div class="container">
    <div class="list-style">
        {% for complaint in complaints_list %}
        <ul class="list-group">
            <li class="list-group-item"><a href="{% url 'chatbot:complaintDetails' complaint.id %}">Complaint Posted at: {{ complaint.created }}</a></li>
        </ul>
        {% empty %}
            <div class="row">
                <p>No complaints</p>
            </div>
        {% endfor %}
    </div>
</div>
{% else %}
<h1>You are not Authenticated</h1>
{% endif %}
{% endblock %}
