{% extends 'chatbot/base.html' %}
{% load staticfiles %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'chatbot/css/moderator.css' %}">
{% endblock %}

{% block title %}Feedbacks{% endblock %}

{% block navigation %}
<li><a href="{% url 'chatbot:modHome' %}">Home</a></li>
<li><a href="{% url 'chatbot:modComplaints' %}">Complaints</a></li>
<li><a href="{% url 'chatbot:modFeedbacks' %}">Feedbacks</a></li>
<li class="active"><a href="{% url 'chatbot:modStats' %}">Stats</a></li>
{% endblock %}

{% block logout %}
    {% if user.is_authenticated %}
        <li><a href="{% url 'chatbot:modLogout' %}">Logout</a></li>
    {% endif %}
{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<div class="container">
    <div class="list-style">
        <ul class="list-group">
            <li>Total Messages (Sent and Received By Bot): {{ messageCount }}</li>
            <li>Total Session Count: {{ sessionCount }}</li>
            <li>Number of Unresolved Complaints: {{ complaintCount }}</li>
            <li>Average Message/Session: {{ averageMessageCount }}</li>
            <li>Average Unresolved Complaint/Session: {{ averageComplaintCount }}</li>
        </ul>
    </div>
</div>
{% else %}
<h1>You are not Authenticated</h1>
{% endif %}
{% endblock %}
