{% extends 'chatbot/base.html' %}
{% load staticfiles %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'chatbot/css/moderator.css' %}">
{% endblock %}

{% block title %}Moderator Home{% endblock %}

{% block navigation %}
<li class="active"><a href="{% url 'chatbot:modHome' %}">Home</a></li>
<li><a href="{% url 'chatbot:modComplaints' %}">Complaints</a></li>
<li><a href="{% url 'chatbot:modFeedbacks' %}">Feedbacks</a></li>
<li><a href="{% url 'chatbot:modStats' %}">Stats</a></li>
{% endblock %}

{% block logout %}
    {% if user.is_authenticated %}
        <li><a href="{% url 'chatbot:modLogout' %}">Logout</a></li>
    {% endif %}
{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<div class="container">
    <div class="buttons btn-group btn-group-lg">
        <a class="btn btn-primary" href="{% url 'chatbot:modLogView' %}">View Log File</a><br>
        <a class="btn btn-primary" href="{% url 'chatbot:modLogDownload' %}">Download Log File</a><br>
        <a class="btn btn-success" href="{% url 'chatbot:englishIntentsAdd' %}">Update English Intents Database From Json File</a><br>
        <a class="btn btn-success" href="{% url 'chatbot:banglaIntentsAdd' %}">Update Bangla Intents Database From Json File</a><br>
        <a class="btn btn-primary" href="{% url 'chatbot:englishIntDown' %}">Download English Intents Json File</a><br/>
        <a class="btn btn-primary" href="{% url 'chatbot:banglaIntDown' %}">Download Bangla Intents Json File</a><br>
        <a class="btn btn-warning trainer" href="#">Train English Chatbot</a><br>
        <a class="btn btn-warning trainer" href="#">Train Bangla Chatbot</a><br>
        <a class="btn btn-danger" href="{% url 'chatbot:updateEnglishFile' %}">Update English Intents Json</a><br>
        <a class="btn btn-danger" href="{% url 'chatbot:updateBanglaFile' %}">Update Bangla Intents Json</a><br>
    </div>
    <div class="" id="loader"></div>
</div>
{% else %}
<h1>You are not Authenticated</h1>
{% endif %}
{% endblock %}


{% block script %}
$('.trainer').on('click', function() {
    <!-- $('#loader').addClass('loading'); -->
    alert("Training of chatbots has been disabled temporarily due to lack of
    server memory.");
})

$('body').keyup(function(e) {
    var key = e.which;
    if (key == 27) {
        <!-- $('#loader').removeClass('loading'); -->
    }
})
{% endblock %}
