html,
body {
    height: 100%;
    font-size: 16px;
}

#top {
    background-color: #291b37;
    font-family: "Lato", sans-serif;
}

#top-brand {
    color: #e7edf2;
    font-size:1.5rem;
    outline: none;
}

#nav-feedback {
    color: #e7edf2;
    outline: none;
    font-size:1.5rem;
}

#nav-contact {
    color: #e7edf2;
    outline: none;
    font-size:1.5rem;
}

#wrap {
    min-height: 80%;
    height: auto;
}

#messages-container{
    width:100%;
    display:table;
}

.msg-row{
    display:table-row;
    height:0
}

.bottom-padding {
    padding-bottom:10px;
}

.msg-animate{
    animation-name: fadeInAndUp;
    animation-duration: 300ms;
    animation-iteration-count: 1;
    animation-timing-function:ease-in-out;
}

@keyframes fadeInAndUp {
    0% {
        bottom:-5px;
        opacity:0.1;
    }
    50%{
        bottom:-2.5px;
        opacity:0.5;
    }
    100%{
        bottom:0px;
        opacity:1;
    }

}

.message-text{
    font-size: 1rem;
    font-family: 'Ubuntu','Myriad Pro';
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-word;
    word-break: initial;

}

#send-box{
    padding-top: 10px;
    padding-bottom: 10px;
    background-color:#FFFFFF;
    height:auto;
    width:100%;
    margin-left:0px;
    margin-right:0px;
    border-radius: 20px;
    border-color: #78509e;
    border-style: solid;
    padding-left: 5px;
    padding-right: 5px;
}

#body-container{
    position:absolute;
    bottom:50px;
    right:0;
    left:0;
    top:50px;
    overflow-y:auto;
}

#sub-body-container{
    max-width: 50em;
    margin:0 auto;
    padding: 5px;
}

#bottom-box{
    height: auto;
}

[contentEditable=true]:empty:not(:focus):before{
    content:attr(data-ph);
    display:block;
    opacity:0.5;
}

#messageToSend {
    font-size: 0.9rem;
    color:#000000;
    border: 0px;
    min-height:22px;
    max-height: 62px;
    overflow-y:hidden;
    outline:none;
    padding-top:0px;
    padding-bottom:0px;
    padding-right:40px;
    margin:0px;
}

#messageSendButton {
    background-color:#FFFFFF;
    color:none;
    border: 0px;
    padding :0px;
    font-family:Glyphs;
    font-size:1.3rem;
    line-height:normal;
    outline:none;
}

.user-msg-bubble{
    font-size: 0.7rem;
    margin-top: -15px;
    margin-bottom: 10px;
    padding-right: 10px;
    color: #3a7d4a;
}

.bot-msg-bubble{
    font-size: 0.7rem;
    margin-top: -15px;
    margin-bottom: 10px;
    padding-left: 10px;
    color: #2c5ebf;
}

.user-msg-body {
    box-shadow: 5px 5px 3px grey;
}

.bot-msg-body{
    background: #483659;
    color: #fff;
    box-shadow: 5px 5px 3px #675466;
}

.user-msg {
    text-align: right;
}

@media screen and (min-width: 1400px) {
    html {
        font-size: 19px;
    }

    #body-container{
        top:60px;
        bottom: 60px;
    }

    #sub-body-container {
        max-width: 50em;
        padding-top: 10px;
    }
}

@media screen and (min-width: 2000px) {
    html {
        font-size: 22px;
    }

    #body-container{
        top:70px;
        bottom: 70px;
    }

    #sub-body-container {
        max-width: 50em;
        padding-top: 25px;
    }
}
