appdirs==1.4.3
asgiref==1.0.0
attrs==16.3.0
autobahn==0.17.2
Automat==0.5.0
channels==1.0.3
constantly==15.1.0
daphne==1.0.3
dj-database-url==0.4.1
Django==1.11
gunicorn==19.6.0
psycopg2==2.6.2
whitenoise==2.0.6
requests==2.9.1
requests-oauthlib==0.8.0
six==1.10.0
Twisted==17.1.0
txaio==2.6.1
typing==3.5.3.0
zope.interface==4.3.3
Pillow==4.1.1
