html, body {
    font-size: 16px;
    font-family: "Ubuntu", sans-serif;
}

.boxOfThree {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: space-around;
}

.flex-item {
    flex-grow: 1;
    padding: 0.25rem;
    padding-top: 5.5rem;
    height: 14rem;
    background-color: #3a4873;
    color: white;
    font-size: 1.5rem;
    border: solid 2px white;
}

.flex-item:hover {
    background-color: #653073;
    animation: fade 0.5s linear;
    text-decoration: none;
    color: white;
}

.boxOfThree > a:hover > div::before {
    content: "Visit This Page";
}

.boxOfThree > a:hover > div > span {
    display: none;
}

@keyframes fade {
    0% { background-color: #3a4873; }
    100% { background-color: #653073; }
}

.flex-item:visited {
    color: white;
    text-decoration: none;
}

.flex-item:focus {
    color: white;
    text-decoration: none;
}

@media screen and (min-width: 768px) {
    .emptyDiv {
        height: 5rem;
    }
}

@media screen and (min-width: 1400px) {
    html, body {
        font-size: 19px;
    }

    .emptyDiv {
        height: 5rem;
    }
}

@media screen and (min-width: 2000px) {
    html, body {
        font-size: 22px;
    }

    .emptyDiv {
        height: 5rem;
    }
}
