{% extends "products/base_site.html" %}
{% load staticfiles %}

{% block product %}
    <div class="container marketing">
            <div class="row">
                {% if product %}
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <img src="{{ product.image.url }}" alt="shirt" width="400" height="400">
                </div>
                <div class="col-lg-2 col-md-2 col-sm-6">
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <h4 id="company">{{ product.company }}</h4>
                    <h1>{{ product.name }}</h1>

                    <p class="h3 price">Tk. {{ product.price }}</p>

                    <div class="row">
                        {% if product.size %}
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <label for="Size Choosing">Size</label>
                            <div class="btn-group">
                                <select class="dropdown-select" name="">
                                    <option value="small">small</option>
                                    <option value="medium">medium</option>
                                    <option value="large">large</option>
                                    <option value="large">extra large</option>
                                </select>
                            </div>
                        </div>
                        {% endif %}

                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <label for="Quantity Selection">Quantity</label>
                            <div class="btn-group">
                                <select class="dropdown-select" name="">
                                    <option value="1">1</option>
                                    <option value="10">10</option>
                                    <option value="100">100</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <button type="button" class="btn btn-primary btn-lg add-cart">Add to Cart</button>

                    <p id="product-description">{{ product.description }}</p>
                </div>
                {% endif %}
            </div>
        </div>
{% endblock %}
