{% extends 'chatbot/base.html' %}
{% load staticfiles %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'chatbot/css/moderator.css' %}">
{% endblock %}

{% block title %}Moderator Login{% endblock %}

{% block navigation%}
<li class="active"><a href="{% url 'chatbot:modLogin' %}">Login</a></li>
{% endblock %}

{% block content %}
<div class="container">
    <form method="post" action="">
        <div class="form-group col-sm-6 col-md-4 col-lg-4">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary" value="login">Login</button>
        </div>
    </form>
</div>
{% endblock %}
