{% extends 'chatbot/base.html' %}
{% load staticfiles %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'chatbot/css/moderator.css' %}">
{% endblock %}

{% block title %}Intents{% endblock %}

{% block navigation%}
<li><a href="{% url 'chatbot:modHome' %}">Home</a></li>
<li><a href="{% url 'chatbot:modComplaints' %}">Complaints</a></li>
<li><a href="{% url 'chatbot:modFeedbacks' %}">Feedbacks</a></li>
<li><a href="{% url 'chatbot:modStats' %}">Stats</a></li>
{% endblock %}

{% block logout %}
    {% if user.is_authenticated %}
        <li><a href="{% url 'chatbot:modLogout' %}">Logout</a></li>
    {% endif %}
{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<div class="container">
    {% if status == 0 %}
        <h1 class="text-center text-success">Intent Update Success</h1>
        {% if language == "english" %}
        <a class="btn btn-primary"  href="{% url 'chatbot:englishIntDown' %}">Download English Intents</a>
        {% elif language == 'bangla' %}
        <a class="btn btn-primary"  href="{% url 'chatbot:banglaIntDown' %}">Download Bangla Intents</a>
        {% endif %}
    {% else %}
        <h1 class="text-center text-danger">Intent Update Failed</h1>
    {% endif %}
    <div style="height:1.2rem;"></div>
</div>
{% else %}
<h1>You are not Authenticated</h1>
{% endif %}
{% endblock %}
